NGROK_AUTHTOKEN=''
TUNNEL_BASE_URL=https://your-cloud-endpoint.ngrok-free.app
ONESHOT_API_KEY=
ONESHOT_API_SECRET=
ONESHOT_BUSINESS_ID=
RECIPIENT_ADDRESS=
PAYMENT_TOKEN_ADDRESS=0x036cbd53842c5426634e7929541ec2318f3dcf7e # USDC on Base Sepolia
MAX_AMOUNT_REQUIRED=1000000000000000000 #(1 USDC)